{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}
    


{% block header %}
    <h4 class="font-size-18 mt-4">{% trans "Change Password" %}</h4>
{% endblock header %}



{% block content %}
    <form class="form-horizontal mt-4 password_change needs-validation" novalidate method="POST" action="{% url 'account_change_password' %}" `>
        {% for message in messages %}
        <div class="alert {{ message.tags }} mb-4" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% if field.help_text %}
            <div class="alert alert-danger mb-4" role="alert">
                <strong>{{ field.help_text }}</strong>
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{form.non_field_errors}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-3">
            {{form.oldpassword|as_crispy_field}}
        </div>
        <div class="mb-3">
            {{form.password1|as_crispy_field}}
        </div>
        <div class="mb-3">
            {{form.password2|as_crispy_field}}
        </div>
        <div class="mb-3 mt-4 text-end">
            <button class="btn btn-primary w-md waves-effect waves-light"
                type="submit">{% trans 'Change Password' %}</button>
        </div>
        <div class="form-group mb-0 row">
            <div class="col-12 mt-4 text-center">
                <a href="{% url 'account_reset_password'%}" class="text-muted"><i
                        class="mdi mdi-lock"></i> {% trans "Forgot Password?" %}</a>
            </div>
        </div>
    </form>
{% endblock content %}
{% block extra_content %}
<p>Back to the homepage ?<a href="{% url 'dashboard'%}" class="text-primary"> Home </a> </p>
{% endblock extra_content %}