{% load static %}
{% block sidebar %}
		<div class="topnav">
			<div class="container-fluid">
				<nav class="navbar navbar-light navbar-expand-lg topnav-menu">
					<div class="collapse navbar-collapse" id="topnav-menu-content">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'dashboard' %}"> <i class="ri-dashboard-line me-2"></i> Dashboard</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"> <i class="ri-pencil-ruler-2-line me-2"></i>UI Elements
									<div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl" aria-labelledby="topnav-uielement">
									<div class="row">
										<div class="col-lg-4">
											<div> <a href="{% url 'ui-alerts' %}" class="dropdown-item">Alerts</a>
												<a href="{% url 'ui-buttons' %}" class="dropdown-item">Buttons</a>
												<a href="{% url 'ui-cards' %}" class="dropdown-item">Cards</a>
												<a href="{% url 'ui-carousel' %}" class="dropdown-item">Carousel</a>
												<a href="{% url 'ui-dropdowns' %}" class="dropdown-item">Dropdowns</a>
												<a href="{% url 'ui-grid' %}" class="dropdown-item">Grid</a>
												<a href="{% url 'ui-images' %}" class="dropdown-item">Images</a>
											</div>
										</div>
										<div class="col-lg-4">
											<div> <a href="{% url 'ui-lightbox' %}" class="dropdown-item">Lightbox</a>
												<a href="{% url 'ui-modals' %}" class="dropdown-item">Modals</a>
												<a href="{% url 'ui-rangeslider' %}" class="dropdown-item">Range Slider</a>
												<a href="{% url 'ui-roundslider' %}" class="dropdown-item">Round slider</a>
												<a href="{% url 'ui-session-timeout' %}" class="dropdown-item">Session Timeout</a>
												<a href="{% url 'ui-progressbars' %}" class="dropdown-item">Progress Bars</a>
												<a href="{% url 'ui-sweet-alert' %}" class="dropdown-item">Sweetalert 2</a>
											</div>
										</div>
										<div class="col-lg-4">
											<div> <a href="{% url 'ui-tabs-accordions' %}" class="dropdown-item">Tabs & Accordions</a>
												<a href="{% url 'ui-typography' %}" class="dropdown-item">Typography</a>
												<a href="{% url 'ui-video' %}" class="dropdown-item">Video</a>
												<a href="{% url 'ui-general' %}" class="dropdown-item">General</a>
												<a href="{% url 'ui-rating' %}" class="dropdown-item">Rating</a>
												<a href="{% url 'ui-notifications' %}" class="dropdown-item">Notifications</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"> <i class="ri-apps-2-line me-2"></i>Apps
									<div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-apps"> <a href="{% url 'calendar' %}" class="dropdown-item">Calendar</a>
									<a href="{% url 'chat' %}" class="dropdown-item">Chat</a>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email" role="button">
                                                    Email <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-email"> <a href="{% url 'email-inbox' %}" class="dropdown-item">Inbox</a>
											<a href="{% url 'email-read' %}" class="dropdown-item">Read Email</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce" role="button">
                                                    Ecommerce <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-ecommerce"> <a href="{% url 'ecommerce-products' %}" class="dropdown-item">Products</a>
											<a href="{% url 'ecommerce-product-detail' %}" class="dropdown-item">Product Detail</a>
											<a href="{% url 'ecommerce-orders' %}" class="dropdown-item">Orders</a>
											<a href="{% url 'ecommerce-customers' %}" class="dropdown-item">Customers</a>
											<a href="{% url 'ecommerce-cart' %}" class="dropdown-item">Cart</a>
											<a href="{% url 'ecommerce-checkout' %}" class="dropdown-item">Checkout</a>
											<a href="{% url 'ecommerce-shops' %}" class="dropdown-item">Shops</a>
											<a href="{% url 'ecommerce-add-product' %}" class="dropdown-item">Add Product</a>
										</div>
									</div> <a href="{% url 'app-kanban-board' %}" class="dropdown-item">Kanban Board</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"> <i class="ri-stack-line me-2"></i>Components
									<div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-components">
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form" role="button">
                                                    Forms <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-form"> <a href="{% url 'form-elements' %}" class="dropdown-item">Form Elements</a>
											<a href="{% url 'form-validation' %}" class="dropdown-item">Form Validation</a>
											<a href="{% url 'form-advanced' %}" class="dropdown-item">Form Advanced</a>
											<a href="{% url 'form-editors' %}" class="dropdown-item">Form Editors</a>
											<a href="{% url 'form-uploads' %}" class="dropdown-item">Form File Upload</a>
											<a href="{% url 'form-xeditable' %}" class="dropdown-item">Form Xeditable</a>
											<a href="{% url 'form-wizard' %}" class="dropdown-item">Form Wizard</a>
											<a href="{% url 'form-mask' %}" class="dropdown-item">Form Mask</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table" role="button">
                                                    Tables <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-table"> <a href="{% url 'tables-basic' %}" class="dropdown-item">Basic Tables</a>
											<a href="{% url 'tables-datatable' %}" class="dropdown-item">Data Tables</a>
											<a href="{% url 'tables-responsive' %}" class="dropdown-item">Responsive Table</a>
											<a href="{% url 'tables-editable' %}" class="dropdown-item">Editable Table</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button">
                                                    Charts <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-charts"> <a href="{% url 'charts-apex' %}" class="dropdown-item">Apex charts</a>
											<a href="{% url 'charts-chartjs' %}" class="dropdown-item">Chartjs</a>
											<a href="{% url 'charts-flot' %}" class="dropdown-item">Flot Chart</a>
											<a href="{% url 'charts-knob' %}" class="dropdown-item">Jquery Knob Chart</a>
											<a href="{% url 'charts-sparkline' %}" class="dropdown-item">Sparkline Chart</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons" role="button">
                                                    Icons <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-icons"> <a href="{% url 'icons-remix' %}" class="dropdown-item">Remix Icons</a>
											<a href="{% url 'icons-materialdesign' %}" class="dropdown-item">Material Design</a>
											<a href="{% url 'icons-dripicons' %}" class="dropdown-item">Dripicons</a>
											<a href="{% url 'icons-fontawesome' %}" class="dropdown-item">Font awesome 5</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map" role="button">
                                                    Maps <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-map"> <a href="{% url 'maps-google' %}" class="dropdown-item">Google Maps</a>
											<a href="{% url 'maps-vector' %}" class="dropdown-item">Vector Maps</a>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button"> <i class="ri-file-copy-2-line me-2"></i>Pages
									<div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-more">
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth" role="button">
                                                    Authentication <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-auth"> <a href="{% url 'authentication_login' %}" class="dropdown-item">Login</a>
											<a href="{% url 'authentication_register' %}" class="dropdown-item">Register</a>
											<a href="{% url 'authentication_recover_password' %}" class="dropdown-item">Recover Password</a>
											<a href="{% url 'authentication_lock_screen' %}" class="dropdown-item">Lock Screen</a>
										</div>
									</div>
									<div class="dropdown"> <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility" role="button">
                                                    Utility <div class="arrow-down"></div>
                                                </a>
										<div class="dropdown-menu" aria-labelledby="topnav-utility"> <a href="{% url 'pages-starter' %}" class="dropdown-item">Starter Page</a>
											<a href="{% url 'pages-maintenance' %}" class="dropdown-item">Maintenance</a>
											<a href="{% url 'pages-comingsoon' %}" class="dropdown-item">Coming Soon</a>
											<a href="{% url 'pages-timeline' %}" class="dropdown-item">Timeline</a>
											<a href="{% url 'pages-faqs' %}" class="dropdown-item">FAQs</a>
											<a href="{% url 'pages-pricing' %}" class="dropdown-item">Pricing</a>
											<a href="{% url 'pages-404' %}" class="dropdown-item">Error 404</a>
											<a href="{% url 'pages-500' %}" class="dropdown-item">Error 500</a>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"> <i class="ri-layout-3-line me-2"></i><span key="t-layouts">Layouts</span> 
									<div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-layout">
									<div class="dropdown">
										<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-verti" role="button"> <span key="t-vertical">Vertical</span> 
											<div class="arrow-down"></div>
										</a>
										<div class="dropdown-menu" aria-labelledby="topnav-layout-verti"> <a href="{% url 'layouts-light-sidebar' %}" class="dropdown-item" key="t-light-sidebar">Light Sidebar</a>
											<a href="{% url 'layouts-compact-sidebar' %}" class="dropdown-item" key="t-compact-sidebar">Compact Sidebar</a>
											<a href="{% url 'layouts-icon-sidebar' %}" class="dropdown-item" key="t-icon-sidebar">Icon Sidebar</a>
											<a href="{% url 'layouts-boxed' %}" class="dropdown-item" key="t-boxed-width">Boxed Width</a>
											<a href="{% url 'layouts-preloader' %}" class="dropdown-item" key="t-preloader">Preloader</a>
											<a href="{% url 'layouts-colored-sidebar' %}" class="dropdown-item" key="t-colored-sidebar">Colored Sidebar</a>
											{% comment %} <a href="{% url 'layouts-scrollable' %}" class="dropdown-item" key="t-colored-sidebar">Scrollable</a> {% endcomment %}
										</div>
									</div>
									<div class="dropdown">
										<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-hori" role="button"> <span key="t-horizontal">Horizontal</span> 
											<div class="arrow-down"></div>
										</a>
										<div class="dropdown-menu" aria-labelledby="topnav-layout-hori"> <a href="{% url 'layouts-horizontal' %}" class="dropdown-item" key="t-horizontal">Horizontal</a>
											<a href="{% url 'layouts-hori-topbar-light' %}" class="dropdown-item" key="t-topbar-light">Topbar light</a>
											<a href="{% url 'layouts-hori-boxed-width' %}" class="dropdown-item" key="t-boxed-width">Boxed width</a>
											<a href="{% url 'layouts-hori-preloader' %}" class="dropdown-item" key="t-preloader">Preloader</a>
											<a href="{% url 'layouts-colored-header' %}" class="dropdown-item" key="t-colored-topbar">Colored Header</a>
											{% comment %} <a href="{% url 'layouts-hori-scrollable' %}" class="dropdown-item" key="t-colored-topbar">Scrollable</a> {% endcomment %}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
{% endblock sidebar %}