{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% block title %}{% trans "Confirm E-mail Address" %}{% endblock title %}

{% block header %}
    <h4 class="font-size-18 mt-4">{% trans "Confirm E-mail Address" %}</h4>
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} mb-4" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{form.non_field_errors}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}
    
    <p class="text-center mt-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
    
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
    </div>
    </form>
    
    {% else %}
    
    {% url 'account_email' as email_url %}
    
    <p class="mt-4 text-center">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    
    {% endif %}
{% endblock content %}