{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block header %}
    <h4 class="font-size-18 mt-4">{% trans "Password Reset" %}</h4>
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} mb-4" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{form.non_field_errors}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <p class="mt-4 text-center">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    <div class="text-center">
        <a href="{% url 'dashboard'%}" class="btn btn-primary"> Home </a>
    </div>
{% endblock content %}