{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block header %}
    <h4 class="font-size-18 mt-4">{% trans "Password Reset" %}</h4>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="alert alert-info" role="alert">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</div>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-horizontal mt-4">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{form.non_field_errors}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}    
    {% csrf_token %}
    <div class="mb-3">
        {{ form.email|as_crispy_field }}
    </div>

    <div class="mb-3 row">
        <div class="col-12 text-end">
            <button class="btn btn-primary w-md waves-effect waves-light"
            type="submit">{% trans 'Reset My Password' %}</button>
        </div>
    </div>
</form>
<p class="text-muted text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock content %}
{% block extra_content %}
<p>Remember It ? <a href="{% url 'account_login'%}" class="text-primary"> Sign In Here </a> </p>
{% endblock extra_content %}

