{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock title %}

{% block header %}
    <h4 class="font-size-18 mt-4">{% trans "Verify Your E-mail Address" %}</h4>
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% for message in messages %}
    <div class="alert {{ message.tags }} mt-4 mb-4" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{form.non_field_errors}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <p class="text-center mt-4">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
    <div class="text-center">
        <a href="{% url 'dashboard'%}" class="btn btn-primary"> Home </a>
    </div>
{% endblock content %}