{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %} | Nazox - Admin & Dashboard Template</title>
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesdesign" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	{% block css %}
    <!--Extra Css-->
    {% block extra_css %}{% endblock extra_css %}
	<!-- Bootstrap Css -->
	<link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
	{% endblock css %}
</head>

<body {% block body %} data-sidebar="dark" {% comment %}data-topbar="dark" data-layout="horizontal"{% endcomment %}{% endblock body %}>
    {% block preloader %}
    {% comment %} {% include 'partials/preloader.html' %} {% endcomment %}
    {% endblock preloader %}
	<!-- Begin page -->
	<div id="layout-wrapper">

        {% block header %}
		{% include 'partials/header.html' %}
        {% comment %} {% include 'partials/hori-header.html' %} {% endcomment %}
        {% endblock header %}
    
		{% block sidebar %}
        {% include 'partials/sidebar.html' %}
		{% comment %} {% include 'partials/hori-sidebar.html' %} {% endcomment %}
        {% endblock sidebar %}
	
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					{% block content %}
						{% block page_title %}
							
						{% endblock page_title %}
						
					{% endblock content %}
				</div>
				<!-- End Page-content -->
				{% block footer %}
				{% include 'partials/footer.html' %}
				{% endblock footer %}
			</div>
        </div>
		<!-- end main content-->
	</div>
	<!-- END layout-wrapper -->
    {% block right_sidebar %}
    {% include 'partials/right-sidebar.html' %}
    {% endblock right_sidebar %}
	{% block javascript %}
	<!-- JAVASCRIPT -->
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'libs/metismenu/dist/metisMenu.min.js' %}"></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
	<script src="{% static 'libs/node-waves/dist/waves.min.js' %}"></script>
    <!--Extra Javascript-->
    {% block extra_javascript %} {% endblock extra_javascript %}
	<!-- App js -->
	<script src="{% static 'js/app.js' %}"></script>
	
	{% endblock javascript %}
</body>

</html>